<html>
	<head>
		<title><%= title %></title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		 
	</head>
	<body>
		<div>
			<a href="/">Home</a> | 
			<a href="/users/add">Add New User</a> | 
			<a href="/users">All Users List</a>
			<a href="/videos/add">Add New video</a> | 
			<a href="/videos">All videos List</a>
		</div>	
		<h1><%= title %></h1>
