<%- include ../layouts/header.ejs %>
<style>
    #save{
        margin-bottom: 10px;
    }
</style>
<div class="profile-header-details profil-header">
    <div class="container">
        <div class="row profil-row" >
            <div class="col-md-9">
                <div class="course_text">
                    <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="rounded-circle profile-img">
                    <div class="row description"></div>

                      
                </div>
            </div>
        </div>
    </div>
</div>	

<section class="contact-section">


<%- include ../layouts/footer.ejs %>
